<div class="employeeList__box md-whiteframe-z3">
    <md-content class="employeeList__content">
            <div class="employeeList__top">
                <input type="text"
                       class="form-control employeeList__share"
                       ng-model="search"
                       placeholder="{{ 'search.searching' | translate }}" />
            </div>

            <md-icon class="employeeList__hide"
                     translate="icons.search"></md-icon>
        <md-list class="employee__list" flex>

            <div >
                <grid-list id="employees"
                           actor-type="list.actorType"
                           on-change-view-type="list.setViewType($event.viewType)"
                           add-event="list.addNewOrder($event.orderType)"
                           on-update-actor="list.updateActor($event)"
                           current-actor="list.order"
                           update="list.newList"
                           update-selected="list.updateSelected"
                           item-for-update="list.order"
                           items-per-page="15"
                           update="list.newList"></grid-list>
            </div>

        </md-list>


    </md-content>
</div>
