<div class="employeeList__box md-whiteframe-z3">
    <md-content class="employeeList__content">
            <div class="employeeList__top">
                <input style="background: white; border: none" type="text" class="form-control" ng-model="search" placeholder="Wyszukaj" />
            </div>

            <md-icon class="employeeList__hide"  ng-click="zwin()">subdirectory_arrow_right</md-icon>
        <md-list class="employee__list" flex>

            <div ng-repeat="an in list.employees">
                <md-icon ng-click="list.deleteEmployeeId(an.id)">close</md-icon>

                <md-list-item ng-click="list.selectEmployeeId(an.id)">
                 <img src="{{an.avatarFilePath}}" class="md-avatar" alt="ktos" />
                 <div>
                     {{an.name}} {{an.lastname}} {{an.id}}

                 </div>
             </md-list-item>
            </div>


            <div ng-repeat="det in list.details">
                {{det.id}}
                {{det.contactType}}
                {{det.contactValue}}
            </div>
            liczba stron : {{list.numer}}



        </md-list>


    </md-content>
</div>
