<md-toolbar class="navbar__top md-hue-2 md-whiteframe-z2" layout="row">
    <div class="navbar__box default-primary-color">

        <a class="navbar__a" href="#/access/singin">
            <div class="navbar__menu">
                <md-button class=" material-icons md-48" >
                    <i class="navbar__fa fa fa-bars" aria-hidden="true"></i>
                </md-button>
            </div>
        </a>

        <div class="navbar__title" translate="main.appTitle"></div>

        <div class="navbar__right">
            <md-button class="btn__input md-icon-button" ng-click="navbar.slide()" aria-label="Favorite">
                <md-icon translate="icons.local"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
                <md-icon translate="icons.msg"></md-icon>
            </md-button>
        </div>
    </div>

    <div ng-if="navbar.inputContainerVisible" class="navbar__content">
        <forms></forms>
    </div>
</md-toolbar>