# Add any directories, files, or patterns you don't want to be tracked by version control
/proxy-app.iml
/target/
/.idea/
*/**/*.db
/proxy.iml
/src/main/client/proxy-client.iml
/src/main/client/.tmp/
/src/main/client/bower_components/
/src/main/client/node_modules/
/src/main/client/target/
/src/main/client/dist/
/src/main/client/node/
/src/main/resources/client/
/src/main/client/.tscache/
/src/main/client/*.tmp.txt
