<form name="detailForm" novalidate>
    <div class="header__main">
        <div translate="detail.editTitle"></div>
    </div>

    <div layout="column" flex="100">
        <md-input-container flex="50">
            <label translate="detail.name"></label>
            <input required name="clientName" ng-model="detailFormCtr.employee.name">
            <div ng-messages="detailForm.clientName.$error">
                <div ng-message="required" translate="detail.nameRequired"></div>
            </div>
        </md-input-container>
    </div>

    <div layout="column" flex="100">
        <md-input-container flex="50">
            <label translate="detail.lastaname"></label>
            <input required name="clientLastname" ng-model="detailFormCtr.employee.lastname">
            <div ng-messages="detailForm.clientLastname.$error">
                <div ng-message="required" translate="detail.lastnameRequired"></div>
            </div>
        </md-input-container>
    </div>

    <div layout="column" flex="100">
        <md-input-container flex="50">
            <label translate="detail.position"></label>
            <input required name="clientSection" ng-model="detailFormCtr.employee.position">
            <div ng-messages="detailForm.clientSection.$error">
                <div ng-message="required" translate="detail.positionRequired"></div>
            </div>
        </md-input-container>
    </div>


    <div layout="column" flex="100">
        <md-input-container flex="50">
            <label translate="detail.avatar"></label>
            <input required name="clientAvatar" ng-model="detailFormCtr.employee.avatarFilePath">
            <div ng-messages="detailForm.clientAvatar.$error">
                <div ng-message="required" translate="detail.avatarRequired"></div>
            </div>
        </md-input-container>
    </div>

    <div layout="column" flex="100" ng-if="detailFormCtr.lol"> <!--wyswietlone id ale ukryte do zapisu-->
        <md-input-container>
            <input required name="employeeId" ng-model="detailFormCtr.employee.id">

        </md-input-container>
    </div>

    <div>
        <md-button class="detail__done" ng-click="detailFormCtr.saveEmployee()" type="submit">
            <md-icon translate="icons.done"></md-icon>
        </md-button>
    </div>

</form>