<div class="project__box">

    <md-card>

            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="{{ 'project.actual' | translate }}">
                        <md-content class="main__item">

                            <md-list-item ng-click="null">
                                <div layout="column">
                                    Projekt Relion
                                </div>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    Projekt employees
                                </div>
                            </md-list-item>

                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'project.archive' | translate }}">
                        <md-content class="md-padding">

                            <md-list-item ng-click="null">
                                <div style="color: lightgray;" class="md-list-item-text" layout="column">
                                    Projekt Relion
                                </div>
                            </md-list-item>

                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>

        <div ng-if="detail.formContainerVisible">
            <form projectForm>
                <div layout="column" flex="100">
                    <md-input-container flex="50">
                        <label translate="project.projectName"></label>
                        <input required name="projekt">
                        <div ng-messages="projectForm.projekt.$error">
                            <div ng-message="required" translate="project.nameRequired"></div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" flex="100">
                    <md-input-container flex="50">
                        <label translate="project.choose"></label>
                        <input required name="type" >
                        <div ng-messages="projectForm.type.$error">
                            <div ng-message="required" translate="project.typeRequired"></div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>


    </md-card>

</div>