<div class="employeeList__box md-whiteframe-z3">
    <md-content class="employeeList__content">
            <div class="employeeList__top">
                <input style="background: white; border: none" type="text" class="form-control" ng-model="search" placeholder="Wyszukaj" />
            </div>

            <md-icon class="employeeList__hide"  ng-click="zwin()">subdirectory_arrow_right</md-icon>
        <md-list class="employee__list" flex>



            <md-list-item ng-repeat="an in list.employees" ng-click="null">
                <img src="{{an.avatarFilePath}}" class="md-avatar" alt="ktos" />
                <div>
                    {{an.name}} {{an.lastname}}

                </div>
            </md-list-item>
        </md-list>


    </md-content>
</div>
