.contact__box{
  position: relative;
  margin-left: 10px;

}

.contact__a{
  color: black;
}

.contact__fa{
  padding-right: 20px;
}

.contact__form{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  float: right;
  left: 0;
  background: white;
  box-sizing: border-box;
  padding: 15px;
}

.contact__input{
  padding-top: 20px;
}