.employeeList__box{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.employeeList__hide{
  position: absolute;
  top: 6px;
  right: 0;
}

.employeeList__content{
  margin-top: 65px;
}

.employeeList__top{
  margin-top: -8px;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
}

.employee__list{
  padding-top: 36px;
}