<div class="employee__width">

    <md-card class="employee__box">
        <img src="{{detail.employee.avatarFilePath}}" class="employee__avatar md-avatar" alt="{{detail.employee.name}} avatar" />

        <div class="employee__login">
            <div class="employee__dot"></div>
            <span  class="employee__status md-subhead" translate="detail.available"></span>
        </div>

        <div class="employee__trig"></div>


        <div class="employee__detail">
            <div>
                {{detail.employee.name}}
            </div>
        </div>
        <md-divider></md-divider>
        <div class="employee__detail">
            {{detail.employee.lastname}}

        </div>
        <md-divider></md-divider>
        <div class="employee__detail">
            <div>
                <div class="detail__place" translate="detail.place"></div> : 112
            </div>
        </div>
        <md-divider></md-divider>
        <div class="employee__detail">
            <div>
                <div class="detail__place" translate="detail.position"></div> : {{detail.employee.position}}
            </div>
        </div>

        <div class="employee__btns">
            <md-button class="detail__btn" ng-click="detail.formcontainer()">
                <md-icon type="checkbox" class="detail__edit" translate="icons.edit"></md-icon>
            </md-button>

            <md-button ng-click="detail.deleteEmployeeId()">
                <md-icon translate="icons.close"></md-icon>
            </md-button>


        </div>

        <div ng-if="detail.formContainerVisible" class="detail__form">

            <div class="detail__form">
            <detail-form on-edit="detail.hideForm($event)"></detail-form>
            </div>

        </div>

    </md-card>

</div>

