<div class="contact__box">

    <md-card class="contact__main">
            {{contact.contactType.icon}}
        <md-subheader class="header__main">
            <label translate="contact.dataTitle"></label>
        </md-subheader>


        <div ng-repeat="con in contact.details">
        <md-list-item class="contact__item">

            <!--Pomyśleć jak zrobić ikonki, czy z backendu czy ts-->
            <i class="contact__fa fa fa-skype" aria-hidden="true"></i>
            <label class="contact__padding">{{con.contactType}}</label>

            <div  layout="column">
                <a class="contact__a" href="mailto:{{con.contactValue}}">
                    {{con.contactValue}}
                </a>
            </div>

            <md-icon class="contact__delete" ng-click="contact.deleteContactId(con.id)" translate="icons.close"></md-icon>
        </md-list-item>
        <md-divider></md-divider>
        </div>

        <md-list-item>
            <md-button class="contact__done" ng-click="contact.formcontainer()" type="submit">
                <md-icon translate="icons.add"></md-icon>
            </md-button>
        </md-list-item>


    </md-card>

    <div ng-if="contact.formContainerVisible" class="contact__form">
        <form name="contactForm" novalidate>
            <div class="header__main">
            <label translate="contact.addContact"></label>
            </div>

            <div layout="column" flex="100">
                <md-input-container>
                    <input required name="contactValue" ng-model="contact.contact.contactValue">
                    <div ng-messages="contactForm.contactValue.$error">
                        <div ng-message="required" translate="contact.valueRequired"></div>
                    </div>
                </md-input-container>
            </div>

            <!--Do zrobienia lista enumów z backendu, wtedy trzeba podpiąć-->
            <div layout="column" flex="100">
                <md-input-container class="md-block" flex-gt-sm>
                <md-select name="contactType" placeholder="{{ 'contact.typeContact' | translate }}" ng-model="contact.contact.contactType" required>
                <md-option ng-repeat="(key, value) in contact.contactType.contact" value="{{key}}">{{key}}</md-option>
                </md-select>
                    <div ng-messages="contactForm.contactType.$error">
                    <div ng-message="required" translate="contact.typeRequired"></div>
                    </div>
                </md-input-container>
            </div>


            <div layout="column" flex="100" ng-if="contact.hideId"> <!--wyswietlone id ale ukryte-->
                <md-input-container>
                    <input required name="employeeId" ng-model="contact.employeeId" readonly>
                </md-input-container>
            </div>

            <div>
                <md-button class="contact__back" ng-click="contact.back()" type="submit">
                    <md-icon translate="icons.back"></md-icon>
                </md-button>
                <md-button class="contact__done" ng-click="contact.saveContact()" type="submit">
                    <md-icon translate="icons.add"></md-icon>
                </md-button>
            </div>
        </form>
    </div>

</div>

