<div class="contact__box">

    <md-card class="contact__main">

        <md-subheader class="header__main">Dane kontaktowe</md-subheader>
        <div ng-repeat="con in contact.details">
        <md-list-item>


            <i class="contact__fa fa fa-skype" aria-hidden="true"></i>
            <label style="padding: 7px 10px 0 0;">{{con.contactType}}</label>

            <div  layout="column">
                <a class="contact__a" href="skype:sivy12_12?call">
                    {{con.contactValue}}
                    {{con.id}}
                </a>

            </div>
            <md-icon ng-click="contact.deleteContactId(con.id)">close</md-icon>
        </md-list-item>
        <md-divider></md-divider>
        </div>
        <!--<md-list-item >-->
            <!--<i  class="contact__fa fa fa-envelope-o" aria-hidden="true"></i>-->
            <!--<div  layout="column">-->
                <!--<a class="contact__a" href="mailto:Rabczewski.Damian@programisci.eu">Rabczewski.Damian@programisci.eu</a>-->
            <!--</div>-->
        <!--</md-list-item>-->
        <!--<md-divider></md-divider>-->
        <!--<md-list-item>-->
            <!--<i class="contact__fa fa fa-phone" aria-hidden="true"></i>-->
            <!--<div layout="column">-->
                <!--<a class="contact__a" href="tel:785-524-548">785-524-548</a>-->

            <!--</div>-->
        <!--</md-list-item>-->
        <!--<md-divider></md-divider>-->
        <md-list-item>
            <md-button class="detail__done" ng-click="contact.formcontainer()" type="submit">
                <md-icon>edit</md-icon>
            </md-button>
        </md-list-item>




    </md-card>

    <div ng-if="contact.formContainerVisible" class="contact__form">
        <form name="contactForm" novalidate>
            <div class="header__main">Dodaj kontakt</div>

            <div layout="column" flex="100">
                <!--<md-input-container class="md-block" flex-gt-sm>-->
                    <!--<md-select style="color: black;" name="department" placeholder="Wybierz typ kontaktu" ng-model="Reg.DepartmentRefId" required>-->
                        <!--<md-option style="color: black;" value="siema">Skype</md-option>-->
                        <!--<md-option style="color: black;" value="siema">Telefon</md-option>-->
                        <!--<md-option style="color: black;" value="siema">E-mail</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
                <md-input-container>
                    <input required name="contactValue" ng-model="contact.contact.contactValue">
                    <div ng-messages="contactForm.contactValue.$error">
                        <div ng-message="required">contactValue jest wymagany.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" flex="100">
                <md-input-container>
                    <input required name="contactType" ng-model="contact.contact.contactType">
                    <div ng-messages="contactForm.contactType.$error">
                        <div ng-message="required">contactType jest wymagany.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" flex="100">
                <md-input-container>
                    <input required name="employeeId" ng-model="contact.contact.employeeId">
                    <div ng-messages="contactForm.employeeId.$error">
                        <div ng-message="required">employeeId jest wymagany.</div>
                    </div>
                </md-input-container>
            </div>

            <div>
                <md-button class="detail__done" ng-click="contact.saveContact()" type="submit">
                    <md-icon>done</md-icon>
                </md-button>
            </div>
        </form>
    </div>


</div>

