<div class="skills__box">

    <md-card class="skills__overflow" >

        <div class="skills__title header__main md-headline">
            <label translate="skills.skillTitle"></label>
        </div>
        <div ng-repeat="skills in skillCtr.skillsArray" class="skills__content">
            <div class="skills__item main__item"  ng-click="null">
                <div class="md-list-item-text skills__skillName" layout="column">
                    {{skills.skillName}}
                </div>
                <div class="skills__desc">
                    {{skills.description}}

                </div>
                <md-icon class="skills__btn"
                         ng-click="skillCtr.deleteSkillsId(skills.id)"
                         translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>

        </div>

        <md-list-item>
            <md-button class="contact__done" ng-click="skillCtr.formcontainer()" type="submit">
                <md-icon translate="icons.add"></md-icon>
            </md-button>
        </md-list-item>

    </md-card>

    <div ng-if="skillCtr.formContainerVisible" class="contact__form">
        <form name="skillsForm" autocomplete="off" novalidate>
            <div class="header__main">
                <label translate="skills.addSkills"></label>
            </div>

            <div class="skills__container" layout="column" flex="100">
                <md-input-container class="skills__container">
                    <input type="text"
                           required
                           name="skillName"
                           id="skillName"
                           placeholder="{{'skills.skillTitle' | translate}}"
                           ng-model="skillCtr.addNewSkill.skillName"
                           ng-keyup="skillCtr.registerKeyPressForSearchName()"
                           class="form-control">
                    <ul class="list-group skills__list" ng-model="skillCtr.hideThis" ng-hide="skillCtr.hideThis">
                        <div class="skills__relative">
                            <li class="list-group-item skills__listSkill"
                                ng-repeat="skill in skillCtr.skillsByName"
                                ng-click="skillCtr.fillTextBoxName(skill)">{{skill}}</li>
                        </div>
                    </ul>
                    <div ng-messages="skillsForm.skillName.$error">
                    <div ng-message="required"
                    translate="skills.skillNameRequired"></div>
                    </div>
                </md-input-container>
            </div>

            <div class="skills__container" layout="column" flex="100">
                <md-input-container class="skills__container">
                    <input type="text"
                           required
                           md-maxlength="30"
                           name="description"
                           id="skillDescription"
                           placeholder="{{'skills.skillDescription' | translate}}"
                           ng-model="skillCtr.addNewSkill.description"
                           ng-keyup="skillCtr.registerKeyPressForSearchDesc()"
                           class="form-control">
                    <ul class="list-group skills__list" ng-model="skillCtr.hideThisDesc" ng-hide="skillCtr.hideThisDesc">
                        <div class="skills__relative">
                            <li class="list-group-item skills__listSkill"
                                ng-repeat="skillDesc in skillCtr.skillsByDesc"
                                ng-click="skillCtr.fillTextBoxDesc(skillDesc)">{{skillDesc}}</li>
                        </div>
                    </ul>
                    <div ng-messages="skillsForm.description.$error">
                        <div ng-message="required"
                             translate="skills.descriptionRequired"></div>

                        <div ng-message="md-maxlength"
                             translate="skills.descriptionMaxLength"
                             class="my-message"></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" flex="100" ng-if="skillCtr.hideId"> <!--wyswietlone id ale ukryte-->
                    <input required name="employeeId" ng-model="skillCtr.employeeId" readonly>
            </div>

            <div>
                <md-button class="contact__back" ng-click="skillCtr.back()" type="submit">
                    <md-icon translate="icons.back"></md-icon>
                </md-button>
                <md-button class="contact__done" ng-click="skillCtr.saveSkills()" type="submit">
                    <md-icon translate="icons.add"></md-icon>
                </md-button>
            </div>
        </form>
    </div>


</div>


