
<div class="skills__box">

    <md-card class="skills__overflow" >

        <div class="skills__title header__main md-headline">
            <label translate="skills.skillTitle"></label>
        </div>
        <div class="skills__content">
            <div class="skills__item main__item"  ng-click="null">
                <div class="md-list-item-text" layout="column">
                    Java
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item"  ng-click="null">
                <div class="md-list-item-text" layout="column">
                    Angular
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item"  ng-click="null">
                <div class="md-list-item-text" layout="column">
                    PHP
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    mySQL
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    motoryzacja
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    imprezy
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    motoryzacja
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    imprezy
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    motoryzacja
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    imprezy
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    motoryzacja
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    imprezy
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    motoryzacja
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
            <div class="skills__item main__item" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    imprezy
                </div>
                <md-icon class="skills__btn" translate="icons.close"></md-icon>
            </div>
            <md-divider></md-divider>
        </div>

    </md-card>


</div>


