<div class="login">
  <div class="login-left-box">
    <div class="center-block text-center login-logo">
      <img style="width: 60%;" src="images/logo.png" alt="relyon ">
    </div>
    <div class="login-content">
      <form name="signin" autocomplete="off">
        <div class="row m-b">
          <div class="col-md-12">
            <div class="field-wrapper">
              <input name="login" type="text" ng-model="login.user.loginId"
                     placeholder="{{ 'signin.login' | translate }}"
                     class="input-line input-line-100">
              <label translate="signin.login"></label>
            </div>
          </div>
        </div>
        <div class="row m-b">
          <div class="col-md-12">
            <div class="field-wrapper">
              <input name="password" type="password" ng-model="login.user.password"
                     placeholder="{{ 'signin.password' | translate }}"
                     class="input-line input-line-100">
              <label translate="signin.password"></label>
            </div>
          </div>
        </div>

        <div class="row m-t-lg">
          <div class="col-md-12">
            <a href="#/access/page">
            <button name="loginButton"
                    class="btn md-btn btn-block btn-blue-gr"
                    translate="signin.signin"></button>
            </a>

            <!--
            <a href="#/access/page">
            <button name="loginButton" ng-click="login.login()"
                    class="btn md-btn btn-block btn-blue-gr"
                    translate="signin.signin"></button>
            </a>
            -->

          </div>
        </div>
      </form>
    </div>
  </div>
</div>