
<div class="timesheet__box">

    <md-card class="timesheet__overflow" >

        <div class="timesheet__title header__main md-headline">Czas pracy</div>
        <div class="md-card-header timesheet__top">
            <div class="timesheet__text">
                Data
            </div>
            <div class="timesheet__text">
                Praca od
            </div>
            <div class="timesheet__text">
                Praca do
            </div>
            <div class="timesheet__text">
                Gdzie
            </div>
        </div>
        <div class="timesheet__content">
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            13.05.2017
                        </div>
                        <div class="timesheet__cel">
                            7:00
                        </div>
                        <div class="timesheet__cel">
                            16:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>
            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            11.05.2017
                        </div>
                        <div class="timesheet__cel">
                            9:00
                        </div>
                        <div class="timesheet__cel">
                            13:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            09.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Biuro
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

            <div class="timesheet__item"  ng-click="null">
                <div layout="column">
                    <div class="timesheet__top">
                        <div class="timesheet__cel">
                            05.05.2017
                        </div>
                        <div class="timesheet__cel">
                            5:00
                        </div>
                        <div class="timesheet__cel">
                            11:00
                        </div>
                        <div class="timesheet__cel">
                            Zdalnie
                        </div>
                    </div>
                </div>
                <md-icon class="timesheet__btn">mode_edit</md-icon>
            </div>
            <md-divider></md-divider>

        </div>

    </md-card>


</div>


